<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itxu.springboot.mapper.CourseMapper">
    <delete id="deleteStudentCourse">
        delete
        from sys_student_course
        where student_id = #{studentId}
          and course_id = #{courseId};
    </delete>

    <insert id="setStudentCourse">
        insert into sys_student_course
        values (#{studentId}, #{courseId})
    </insert>
    <select id="findPage" resultType="com.itxu.springboot.pojo.Course">
        select sys_course.* ,sys_user.nickname as teacher from sys_course
        left join sys_user
        on sys_course.teacher_id = sys_user.id
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
        </where>

    </select>
</mapper>